{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      Name : {{ movieFilter.from.title }}
      Date : {{ movieFilter.from.date }}
      Reviews : {{ movieFilter.from.amount_reviews }}
      <input type="submit" class="btn btn-primary" value="Search" />
    </form>
    <div>
      {% comment %}
        <select name="date_categories" class="filter-selectbox">
        {% for item in movie %}
          <option value="{{ item.date }}">{{ item.date }}</option>
        {% endfor %}
        </select>
      {% endcomment %}

      {% for item in movie %}
      <ul class="list-unstyled">
        <h1 class="mt-0 mb-1">Title: {{ item.title }}</h1>
        <li class="media">
          <div class="media-body">
            <img src="{{ item.poster.url }}" class="mr-3" alt="{{ item.title }}">
          </div>
          <div>
            <h4>Date: {{ item.date }}</h4>
            <h4>Consensus: {{ item.critics_consensus }}</h4>
            <h4>Amount_reviews: {{ item.amount_reviews }}</h4>
            <h4>Percentage: {{ item.approval_percentage }}</h4>
            {% if item.average_grade %}
            <h4>Average: {{ item.average_grade }}</h4>
            {% endif %}
          </div>
        </li>
      </ul>
      {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

